In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import datetime

2023-03-27 12:05:48.804708: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-03-27 12:05:48.806455: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-03-27 12:05:48.841157: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-03-27 12:05:48.841966: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-27 12:05:49.417693: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
print(tf.__version__)

2.12.0

In [3]:
car_data = pd.read_csv('car_data.csv')

In [4]:
car_data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
car_data = car_data.iloc[:, 1:]

In [6]:
car_data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
car_data['current_year'] = datetime.datetime.today().year

In [8]:
car_data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2023
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2023
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2023
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2023
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2023

In [9]:
car_data['car_age'] = car_data['current_year'] - car_data['Year']

In [10]:
car_data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year,car_age
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2023,9
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2023,10
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2023,6
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2023,12
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2023,9

In [11]:
car_data.drop(['Year'], axis=1, inplace=True)

In [12]:
car_data.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year,car_age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,2023,9
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,2023,10
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,2023,6
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,2023,12
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,2023,9

In [13]:
get_dumm_data = car_data

In [14]:
get_dumm_data=pd.get_dummies(get_dumm_data, drop_first=True)

In [15]:
get_dumm_data.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,current_year,car_age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,2023,9,0,1,0,1
1,4.75,9.54,43000,0,2023,10,1,0,0,1
2,7.25,9.85,6900,0,2023,6,0,1,0,1
3,2.85,4.15,5200,0,2023,12,0,1,0,1
4,4.60,6.87,42450,0,2023,9,1,0,0,1

In [16]:
car_data_features = get_dumm_data.iloc[:, 1:].values

In [17]:
car_data_features

array([[5.5900e+00, 2.7000e+04, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.0000e+00],
       [9.5400e+00, 4.3000e+04, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       [9.8500e+00, 6.9000e+03, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.0000e+00],
       ...,
       [1.1000e+01, 8.7934e+04, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.0000e+00],
       [1.2500e+01, 9.0000e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       [5.9000e+00, 5.4640e+03, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.0000e+00]])

In [18]:
car_data_labels = get_dumm_data.iloc[:, 0:1].values

In [19]:
car_data_labels

array([[ 3.35],
       [ 4.75],
       [ 7.25],
       [ 2.85],
       [ 4.6 ],
       [ 9.25],
       [ 6.75],
       [ 6.5 ],
       [ 8.75],
       [ 7.45],
       [ 2.85],
       [ 6.85],
       [ 7.5 ],
       [ 6.1 ],
       [ 2.25],
       [ 7.75],
       [ 7.25],
       [ 7.75],
       [ 3.25],
       [ 2.65],
       [ 2.85],
       [ 4.9 ],
       [ 4.4 ],
       [ 2.5 ],
       [ 2.9 ],
       [ 3.  ],
       [ 4.15],
       [ 6.  ],
       [ 1.95],
       [ 7.45],
       [ 3.1 ],
       [ 2.35],
       [ 4.95],
       [ 6.  ],
       [ 5.5 ],
       [ 2.95],
       [ 4.65],
       [ 0.35],
       [ 3.  ],
       [ 2.25],
       [ 5.85],
       [ 2.55],
       [ 1.95],
       [ 5.5 ],
       [ 1.25],
       [ 7.5 ],
       [ 2.65],
       [ 1.05],
       [ 5.8 ],
       [ 7.75],
       [14.9 ],
       [23.  ],
       [18.  ],
       [16.  ],
       [ 2.75],
       [ 3.6 ],
       [ 4.5 ],
       [ 4.75],
       [ 4.1 ],
       [19.99],
       [ 6.95],
       [ 4.5 ],
       [18.75],
       [23.5 ],
       [33.  ],
       [ 4.75],
       [19.75],
       [ 9.25],
       [ 4.35],
       [14.25],
       [ 3.95],
       [ 4.5 ],
       [ 7.45],
       [ 2.65],
       [ 4.9 ],
       [ 3.95],
       [ 5.5 ],
       [ 1.5 ],
       [ 5.25],
       [14.5 ],
       [14.73],
       [ 4.75],
       [23.  ],
       [12.5 ],
       [ 3.49],
       [ 2.5 ],
       [35.  ],
       [ 5.9 ],
       [ 3.45],
       [ 4.75],
       [ 3.8 ],
       [11.25],
       [ 3.51],
       [23.  ],
       [ 4.  ],
       [ 5.85],
       [20.75],
       [17.  ],
       [ 7.05],
       [ 9.65],
       [ 1.75],
       [ 1.7 ],
       [ 1.65],
       [ 1.45],
       [ 1.35],
       [ 1.35],
       [ 1.35],
       [ 1.25],
       [ 1.2 ],
       [ 1.2 ],
       [ 1.2 ],
       [ 1.15],
       [ 1.15],
       [ 1.15],
       [ 1.15],
       [ 1.11],
       [ 1.1 ],
       [ 1.1 ],
       [ 1.1 ],
       [ 1.05],
       [ 1.05],
       [ 1.05],
       [ 1.05],
       [ 1.  ],
       [ 0.95],
       [ 0.9 ],
       [ 0.9 ],
       [ 0.75],
       [ 0.8 ],
       [ 0.78],
       [ 0.75],
       [ 0.75],
       [ 0.75],
       [ 0.72],
       [ 0.65],
       [ 0.65],
       [ 0.65],
       [ 0.65],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.6 ],
       [ 0.55],
       [ 0.55],
       [ 0.52],
       [ 0.51],
       [ 0.5 ],
       [ 0.5 ],
       [ 0.5 ],
       [ 0.5 ],
       [ 0.5 ],
       [ 0.48],
       [ 0.48],
       [ 0.48],
       [ 0.48],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.45],
       [ 0.42],
       [ 0.42],
       [ 0.4 ],
       [ 0.4 ],
       [ 0.4 ],
       [ 0.4 ],
       [ 0.4 ],
       [ 0.38],
       [ 0.38],
       [ 0.35],
       [ 0.35],
       [ 0.35],
       [ 0.31],
       [ 0.3 ],
       [ 0.3 ],
       [ 0.3 ],
       [ 0.27],
       [ 0.25],
       [ 0.25],
       [ 0.25],
       [ 0.25],
       [ 0.25],
       [ 0.2 ],
       [ 0.2 ],
       [ 0.2 ],
       [ 0.2 ],
       [ 0.2 ],
       [ 0.2 ],
       [ 0.18],
       [ 0.17],
       [ 0.16],
       [ 0.15],
       [ 0.12],
       [ 0.1 ],
       [ 3.25],
       [ 4.4 ],
       [ 2.95],
       [ 2.75],
       [ 5.25],
       [ 5.75],
       [ 5.15],
       [ 7.9 ],
       [ 4.85],
       [ 3.1 ],
       [11.75],
       [11.25],
       [ 2.9 ],
       [ 5.25],
       [ 4.5 ],
       [ 2.9 ],
       [ 3.15],
       [ 6.45],
       [ 4.5 ],
       [ 3.5 ],
       [ 4.5 ],
       [ 6.  ],
       [ 8.25],
       [ 5.11],
       [ 2.7 ],
       [ 5.25],
       [ 2.55],
       [ 4.95],
       [ 3.1 ],
       [ 6.15],
       [ 9.25],
       [11.45],
       [ 3.9 ],
       [ 5.5 ],
       [ 9.1 ],
       [ 3.1 ],
       [11.25],
       [ 4.8 ],
       [ 2.  ],
       [ 5.35],
       [ 4.75],
       [ 4.4 ],
       [ 6.25],
       [ 5.95],
       [ 5.2 ],
       [ 3.75],
       [ 5.95],
       [ 4.  ],
       [ 5.25],
       [12.9 ],
       [ 5.  ],
       [ 5.4 ],
       [ 7.2 ],
       [ 5.25],
       [ 3.  ],
       [10.25],
       [ 8.5 ],
       [ 8.4 ],
       [ 3.9 ],
       [ 9.15],
       [ 5.5 ],
       [ 4.  ],
       [ 6.6 ],
       [ 4.  ],
       [ 6.5 ],
       [ 3.65],
       [ 8.35],
       [ 4.8 ],
       [ 6.7 ],
       [ 4.1 ],
       [ 3.  ],
       [ 7.5 ],
       [ 2.25],
       [ 5.3 ],
       [10.9 ],
       [ 8.65],
       [ 9.7 ],
       [ 6.  ],
       [ 6.25],
       [ 5.25],
       [ 2.1 ],
       [ 8.25],
       [ 8.99],
       [ 3.5 ],
       [ 7.4 ],
       [ 5.65],
       [ 5.75],
       [ 8.4 ],
       [10.11],
       [ 4.5 ],
       [ 5.4 ],
       [ 6.4 ],
       [ 3.25],
       [ 3.75],
       [ 8.55],
       [ 9.5 ],
       [ 4.  ],
       [ 3.35],
       [11.5 ],
       [ 5.3 ]])

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(car_data_features, car_data_labels, test_size=0.2, random_state=0)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
from tensorflow.keras.layers import Input, Dense, Activation,Dropout
from tensorflow.keras.models import Model

In [25]:
# Shape

input_layer = Input(shape=(car_data_features.shape[1],))
dense_layer_1 = Dense(100, activation='relu')(input_layer)
dense_layer_2 = Dense(50, activation='relu')(dense_layer_1)
dense_layer_3 = Dense(25, activation='relu')(dense_layer_2)
output = Dense(1)(dense_layer_3)

In [26]:
model = Model(inputs=input_layer, outputs=output)
model.compile(loss="mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

In [27]:
history = model.fit(X_train, y_train, batch_size=2, epochs=100, verbose=1, validation_split=0.2)

Epoch 1/100
96/96 [==============================] - 1s 3ms/step - loss: 38.5126 - mean_squared_error: 38.5126 - val_loss: 8.8412 - val_mean_squared_error: 8.8412
Epoch 2/100
96/96 [==============================] - 0s 1ms/step - loss: 9.8724 - mean_squared_error: 9.8724 - val_loss: 3.0582 - val_mean_squared_error: 3.0582
Epoch 3/100
96/96 [==============================] - 0s 1ms/step - loss: 3.9321 - mean_squared_error: 3.9321 - val_loss: 1.0821 - val_mean_squared_error: 1.0821
Epoch 4/100
96/96 [==============================] - 0s 2ms/step - loss: 1.9338 - mean_squared_error: 1.9338 - val_loss: 0.7123 - val_mean_squared_error: 0.7123
Epoch 5/100
96/96 [==============================] - 0s 2ms/step - loss: 1.7238 - mean_squared_error: 1.7238 - val_loss: 0.7935 - val_mean_squared_error: 0.7935
Epoch 6/100
96/96 [==============================] - 0s 2ms/step - loss: 1.3412 - mean_squared_error: 1.3412 - val_loss: 1.0878 - val_mean_squared_error: 1.0878
Epoch 7/100
96/96 [==============================] - 0s 1ms/step - loss: 1.2527 - mean_squared_error: 1.2527 - val_loss: 0.6663 - val_mean_squared_error: 0.6663
Epoch 8/100
96/96 [==============================] - 0s 1ms/step - loss: 1.1271 - mean_squared_error: 1.1271 - val_loss: 1.0798 - val_mean_squared_error: 1.0798
Epoch 9/100
96/96 [==============================] - 0s 2ms/step - loss: 1.1668 - mean_squared_error: 1.1668 - val_loss: 0.8864 - val_mean_squared_error: 0.8864
Epoch 10/100
96/96 [==============================] - 0s 2ms/step - loss: 0.9450 - mean_squared_error: 0.9450 - val_loss: 0.7841 - val_mean_squared_error: 0.7841
Epoch 11/100
96/96 [==============================] - 0s 2ms/step - loss: 1.0343 - mean_squared_error: 1.0343 - val_loss: 0.7125 - val_mean_squared_error: 0.7125
Epoch 12/100
96/96 [==============================] - 0s 2ms/step - loss: 0.9645 - mean_squared_error: 0.9645 - val_loss: 0.6211 - val_mean_squared_error: 0.6211
Epoch 13/100
96/96 [==============================] - 0s 2ms/step - loss: 0.7784 - mean_squared_error: 0.7784 - val_loss: 0.7485 - val_mean_squared_error: 0.7485
Epoch 14/100
96/96 [==============================] - 0s 2ms/step - loss: 0.7581 - mean_squared_error: 0.7581 - val_loss: 0.6726 - val_mean_squared_error: 0.6726
Epoch 15/100
96/96 [==============================] - 0s 1ms/step - loss: 0.7685 - mean_squared_error: 0.7685 - val_loss: 0.5097 - val_mean_squared_error: 0.5097
Epoch 16/100
96/96 [==============================] - 0s 1ms/step - loss: 0.6706 - mean_squared_error: 0.6706 - val_loss: 0.6391 - val_mean_squared_error: 0.6391
Epoch 17/100
96/96 [==============================] - 0s 1ms/step - loss: 0.6344 - mean_squared_error: 0.6344 - val_loss: 0.7963 - val_mean_squared_error: 0.7963
Epoch 18/100
96/96 [==============================] - 0s 2ms/step - loss: 0.5762 - mean_squared_error: 0.5762 - val_loss: 0.7535 - val_mean_squared_error: 0.7535
Epoch 19/100
96/96 [==============================] - 0s 2ms/step - loss: 0.7156 - mean_squared_error: 0.7156 - val_loss: 0.9404 - val_mean_squared_error: 0.9404
Epoch 20/100
96/96 [==============================] - 0s 1ms/step - loss: 0.6399 - mean_squared_error: 0.6399 - val_loss: 0.7071 - val_mean_squared_error: 0.7071
Epoch 21/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5028 - mean_squared_error: 0.5028 - val_loss: 0.8358 - val_mean_squared_error: 0.8358
Epoch 22/100
96/96 [==============================] - 0s 1ms/step - loss: 0.6055 - mean_squared_error: 0.6055 - val_loss: 0.7905 - val_mean_squared_error: 0.7905
Epoch 23/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5586 - mean_squared_error: 0.5586 - val_loss: 0.4793 - val_mean_squared_error: 0.4793
Epoch 24/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5073 - mean_squared_error: 0.5073 - val_loss: 0.7928 - val_mean_squared_error: 0.7928
Epoch 25/100
96/96 [==============================] - 0s 2ms/step - loss: 0.5353 - mean_squared_error: 0.5353 - val_loss: 0.9744 - val_mean_squared_error: 0.9744
Epoch 26/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4923 - mean_squared_error: 0.4923 - val_loss: 0.5000 - val_mean_squared_error: 0.5000
Epoch 27/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4448 - mean_squared_error: 0.4448 - val_loss: 0.6415 - val_mean_squared_error: 0.6415
Epoch 28/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4579 - mean_squared_error: 0.4579 - val_loss: 0.5854 - val_mean_squared_error: 0.5854
Epoch 29/100
96/96 [==============================] - 0s 2ms/step - loss: 0.5716 - mean_squared_error: 0.5716 - val_loss: 0.3585 - val_mean_squared_error: 0.3585
Epoch 30/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5162 - mean_squared_error: 0.5162 - val_loss: 0.4297 - val_mean_squared_error: 0.4297
Epoch 31/100
96/96 [==============================] - 0s 1ms/step - loss: 1.0210 - mean_squared_error: 1.0210 - val_loss: 0.5934 - val_mean_squared_error: 0.5934
Epoch 32/100
96/96 [==============================] - 0s 1ms/step - loss: 1.3991 - mean_squared_error: 1.3991 - val_loss: 0.7517 - val_mean_squared_error: 0.7517
Epoch 33/100
96/96 [==============================] - 0s 1ms/step - loss: 0.7007 - mean_squared_error: 0.7007 - val_loss: 0.4810 - val_mean_squared_error: 0.4810
Epoch 34/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4782 - mean_squared_error: 0.4782 - val_loss: 0.6276 - val_mean_squared_error: 0.6276
Epoch 35/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5133 - mean_squared_error: 0.5133 - val_loss: 0.8326 - val_mean_squared_error: 0.8326
Epoch 36/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5129 - mean_squared_error: 0.5129 - val_loss: 0.7274 - val_mean_squared_error: 0.7274
Epoch 37/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4922 - mean_squared_error: 0.4922 - val_loss: 0.6333 - val_mean_squared_error: 0.6333
Epoch 38/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4636 - mean_squared_error: 0.4636 - val_loss: 0.6693 - val_mean_squared_error: 0.6693
Epoch 39/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3177 - mean_squared_error: 0.3177 - val_loss: 0.6745 - val_mean_squared_error: 0.6745
Epoch 40/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4573 - mean_squared_error: 0.4573 - val_loss: 1.6533 - val_mean_squared_error: 1.6533
Epoch 41/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5600 - mean_squared_error: 0.5600 - val_loss: 0.7799 - val_mean_squared_error: 0.7799
Epoch 42/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4041 - mean_squared_error: 0.4041 - val_loss: 0.9552 - val_mean_squared_error: 0.9552
Epoch 43/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3851 - mean_squared_error: 0.3851 - val_loss: 0.4898 - val_mean_squared_error: 0.4898
Epoch 44/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4917 - mean_squared_error: 0.4917 - val_loss: 0.5038 - val_mean_squared_error: 0.5038
Epoch 45/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4349 - mean_squared_error: 0.4349 - val_loss: 0.4620 - val_mean_squared_error: 0.4620
Epoch 46/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5869 - mean_squared_error: 0.5869 - val_loss: 0.6605 - val_mean_squared_error: 0.6605
Epoch 47/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4866 - mean_squared_error: 0.4866 - val_loss: 0.5622 - val_mean_squared_error: 0.5622
Epoch 48/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4731 - mean_squared_error: 0.4731 - val_loss: 0.6197 - val_mean_squared_error: 0.6197
Epoch 49/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3492 - mean_squared_error: 0.3492 - val_loss: 0.5130 - val_mean_squared_error: 0.5130
Epoch 50/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3303 - mean_squared_error: 0.3303 - val_loss: 0.6299 - val_mean_squared_error: 0.6299
Epoch 51/100

96/96 [==============================] - 0s 1ms/step - loss: 0.3767 - mean_squared_error: 0.3767 - val_loss: 0.8085 - val_mean_squared_error: 0.8085
Epoch 52/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4314 - mean_squared_error: 0.4314 - val_loss: 0.7104 - val_mean_squared_error: 0.7104
Epoch 53/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3638 - mean_squared_error: 0.3638 - val_loss: 0.5335 - val_mean_squared_error: 0.5335
Epoch 54/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2847 - mean_squared_error: 0.2847 - val_loss: 0.5297 - val_mean_squared_error: 0.5297
Epoch 55/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3268 - mean_squared_error: 0.3268 - val_loss: 0.5986 - val_mean_squared_error: 0.5986
Epoch 56/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3453 - mean_squared_error: 0.3453 - val_loss: 0.4880 - val_mean_squared_error: 0.4880
Epoch 57/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3703 - mean_squared_error: 0.3703 - val_loss: 0.7512 - val_mean_squared_error: 0.7512
Epoch 58/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3768 - mean_squared_error: 0.3768 - val_loss: 0.4681 - val_mean_squared_error: 0.4681
Epoch 59/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3817 - mean_squared_error: 0.3817 - val_loss: 0.4052 - val_mean_squared_error: 0.4052
Epoch 60/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4100 - mean_squared_error: 0.4100 - val_loss: 0.6161 - val_mean_squared_error: 0.6161
Epoch 61/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3386 - mean_squared_error: 0.3386 - val_loss: 0.6666 - val_mean_squared_error: 0.6666
Epoch 62/100
96/96 [==============================] - 0s 2ms/step - loss: 0.3800 - mean_squared_error: 0.3800 - val_loss: 0.8128 - val_mean_squared_error: 0.8128
Epoch 63/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4614 - mean_squared_error: 0.4614 - val_loss: 0.6039 - val_mean_squared_error: 0.6039
Epoch 64/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2580 - mean_squared_error: 0.2580 - val_loss: 0.8105 - val_mean_squared_error: 0.8105
Epoch 65/100
96/96 [==============================] - 0s 3ms/step - loss: 0.2762 - mean_squared_error: 0.2762 - val_loss: 0.5234 - val_mean_squared_error: 0.5234
Epoch 66/100
96/96 [==============================] - 0s 2ms/step - loss: 0.3047 - mean_squared_error: 0.3047 - val_loss: 0.6054 - val_mean_squared_error: 0.6054
Epoch 67/100
96/96 [==============================] - 0s 2ms/step - loss: 0.8223 - mean_squared_error: 0.8223 - val_loss: 0.7500 - val_mean_squared_error: 0.7500
Epoch 68/100
96/96 [==============================] - 0s 1ms/step - loss: 0.5263 - mean_squared_error: 0.5263 - val_loss: 0.5020 - val_mean_squared_error: 0.5020
Epoch 69/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4490 - mean_squared_error: 0.4490 - val_loss: 0.5810 - val_mean_squared_error: 0.5810
Epoch 70/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2710 - mean_squared_error: 0.2710 - val_loss: 0.3643 - val_mean_squared_error: 0.3643
Epoch 71/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3836 - mean_squared_error: 0.3836 - val_loss: 0.7601 - val_mean_squared_error: 0.7601
Epoch 72/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3191 - mean_squared_error: 0.3191 - val_loss: 0.6057 - val_mean_squared_error: 0.6057
Epoch 73/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3119 - mean_squared_error: 0.3119 - val_loss: 0.7566 - val_mean_squared_error: 0.7566
Epoch 74/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3063 - mean_squared_error: 0.3063 - val_loss: 0.6509 - val_mean_squared_error: 0.6509
Epoch 75/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2464 - mean_squared_error: 0.2464 - val_loss: 0.5987 - val_mean_squared_error: 0.5987
Epoch 76/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2494 - mean_squared_error: 0.2494 - val_loss: 0.5073 - val_mean_squared_error: 0.5073
Epoch 77/100
96/96 [==============================] - 0s 2ms/step - loss: 0.4067 - mean_squared_error: 0.4067 - val_loss: 1.7737 - val_mean_squared_error: 1.7737
Epoch 78/100
96/96 [==============================] - 0s 2ms/step - loss: 0.8979 - mean_squared_error: 0.8979 - val_loss: 0.6110 - val_mean_squared_error: 0.6110
Epoch 79/100
96/96 [==============================] - 0s 2ms/step - loss: 0.5623 - mean_squared_error: 0.5623 - val_loss: 0.6021 - val_mean_squared_error: 0.6021
Epoch 80/100
96/96 [==============================] - 0s 2ms/step - loss: 0.3358 - mean_squared_error: 0.3358 - val_loss: 1.1218 - val_mean_squared_error: 1.1218
Epoch 81/100
96/96 [==============================] - 0s 2ms/step - loss: 0.5670 - mean_squared_error: 0.5670 - val_loss: 0.4743 - val_mean_squared_error: 0.4743
Epoch 82/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2546 - mean_squared_error: 0.2546 - val_loss: 0.4675 - val_mean_squared_error: 0.4675
Epoch 83/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2606 - mean_squared_error: 0.2606 - val_loss: 0.5141 - val_mean_squared_error: 0.5141
Epoch 84/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2968 - mean_squared_error: 0.2968 - val_loss: 0.5341 - val_mean_squared_error: 0.5341
Epoch 85/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2778 - mean_squared_error: 0.2778 - val_loss: 0.5268 - val_mean_squared_error: 0.5268
Epoch 86/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2492 - mean_squared_error: 0.2492 - val_loss: 0.5200 - val_mean_squared_error: 0.5200
Epoch 87/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2835 - mean_squared_error: 0.2835 - val_loss: 0.5219 - val_mean_squared_error: 0.5219
Epoch 88/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3307 - mean_squared_error: 0.3307 - val_loss: 0.4012 - val_mean_squared_error: 0.4012
Epoch 89/100
96/96 [==============================] - 0s 1ms/step - loss: 0.4387 - mean_squared_error: 0.4387 - val_loss: 0.8201 - val_mean_squared_error: 0.8201
Epoch 90/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3194 - mean_squared_error: 0.3194 - val_loss: 0.4411 - val_mean_squared_error: 0.4411
Epoch 91/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2468 - mean_squared_error: 0.2468 - val_loss: 0.5157 - val_mean_squared_error: 0.5157
Epoch 92/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2653 - mean_squared_error: 0.2653 - val_loss: 0.4725 - val_mean_squared_error: 0.4725
Epoch 93/100
96/96 [==============================] - 0s 1ms/step - loss: 0.6840 - mean_squared_error: 0.6840 - val_loss: 0.6863 - val_mean_squared_error: 0.6863
Epoch 94/100
96/96 [==============================] - 0s 1ms/step - loss: 1.0309 - mean_squared_error: 1.0309 - val_loss: 0.4255 - val_mean_squared_error: 0.4255
Epoch 95/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3197 - mean_squared_error: 0.3197 - val_loss: 0.4867 - val_mean_squared_error: 0.4867
Epoch 96/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2027 - mean_squared_error: 0.2027 - val_loss: 0.5463 - val_mean_squared_error: 0.5463
Epoch 97/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2778 - mean_squared_error: 0.2778 - val_loss: 0.4847 - val_mean_squared_error: 0.4847
Epoch 98/100
96/96 [==============================] - 0s 1ms/step - loss: 0.3095 - mean_squared_error: 0.3095 - val_loss: 0.7529 - val_mean_squared_error: 0.7529
Epoch 99/100
96/96 [==============================] - 0s 1ms/step - loss: 0.2831 - mean_squared_error: 0.2831 - val_loss: 0.4701 - val_mean_squared_error: 0.4701
Epoch 100/100
96/96 [==============================] - 0s 2ms/step - loss: 0.2526 - mean_squared_error: 0.2526 - val_loss: 0.5011 - val_mean_squared_error: 0.5011

In [28]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [29]:
pred_train = model.predict(X_train)

8/8 [==============================] - 0s 1ms/step

In [30]:
print(np.sqrt(mean_squared_error(y_train,pred_train)))

0.536437135320325

In [31]:
pred = model.predict(X_test)

2/2 [==============================] - 0s 4ms/step

In [32]:
print(np.sqrt(mean_squared_error(y_test,pred)))

0.7933363806084837

In [33]:
model.predict([[5.59000,27000,0,2023,9,0,1,0,1]])

1/1 [==============================] - 0s 30ms/step

array([[12786.156]], dtype=float32)

In [34]:
model

In [35]:
car_data_features.shape

(301, 9)

In [36]:
print(model.summary())

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 9)]               0

 dense (Dense)               (None, 100)               1000

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 25)                1275

 dense_3 (Dense)             (None, 1)                 26

=================================================================
Total params: 7,351
Trainable params: 7,351
Non-trainable params: 0
_________________________________________________________________
None